<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout Limit Exceeded</title>
  <style>
    /* Basic styling */
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      text-align: center;
      background-color: whitesmoke;
    }
    .message {
      border: 1px solid white; /* You can adjust color */
      padding: 20px;
      max-width: 400px;
      margin: 0 auto;
      border-radius: 5px;
      background-color: maroon; /* You can adjust color */
      color: white;
    }
  </style>
</head>
<body>
  <div class="message">
    <h1>Checkout Limit Exceeded</h1>
    <p>{{ error_message }} </p>
    <p>If you need further assistance please contact support.</p>
    
    <img src="/booksearch/templates/booksearch/Failure.png" width="250px" height="250px">
  </div>
</body>
</html>
