<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="/booksearch/templates/booksearch/styles/styles.css">

</head>
<body id="body">
    <div class = "login">
        <form id="loginForm">
            <label for = "userid">Enter UTD-ID:</label>
            <input type="text" id="userid" name="userid" placeholder="ex: ABC20001">
            <br>
           <br>
            <button type="submit">Submit</button>
        </form>
            <h3 id="rejection">INVALID CREDENTIALS</h3>
    </div>

    

    <script src="/booksearch/templates/booksearch/script.js"></script>
</body>
</html>