<!-- booksearch/templates/booksearch/book_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search Results</title>
    <style>
        .text {
            display: block;
            width: 400px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Search Loans</h1>
    <form method="get" action="{% url 'loan_search' %}">
        <input type="text" name="q" placeholder="Enter Book ISBN, Card Number, or First / Last Name">
        <button type="submit">Search</button>
    </form>
<form method="POST">
    {% csrf_token %}
    <button type="submit">Check-in Selected</button>
    <table>
        <thead>
            <tr>
                <th>Loan ID</th>
                <th>Borrower</th>
                <th>Date Out</th>
                <th>Due Date</th>
                <th>Book</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
                <tr>
                    <td>{{ loan.loan_id }}</td>
                    <td>{{ loan.first_name }} {{ loan.last_name }}</td>
                    <td>{{ loan.date_out }}</td>
                    <td>{{ loan.due_date }}</td>
                    <td>
                        <img src="{{ loan.cover }}" alt="Book Cover">
                        <span class="text">
                            {{ loan.title }}
                        </span>
                        {{ loan.auth_list }}
                        <br> ISBN: {{ loan.isbn }}
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value={{loan.loan_id}} name="boxes">
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No loans found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

</body>
</html>